[reverse_proxy]
{{ external_ip_reverse_proxy.value }}

[reverse_proxy:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=accept-new'

[compute]
{%- for line in external_ip_compute.value %}
{{ line -}}
{% endfor %}

[compute:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=accept-new'
