[Unit]
Description=Compute instance
After=network.target

[Service]
User={{ ansible_user }}
Group=www-data
WorkingDirectory=/home/{{ ansible_user }}
ExecStart=bash -c "sudo docker login -u oauth -p {{ token }} cr.yandex && sudo docker run -p 8000:8000 cr.yandex/crpv2g776jkb4j9n3o4n/cloud-hw-3:{{ version }}"

[Install]
WantedBy=multi-user.target
